
<div class="sidebar">
    <ul>
        <li>
            <a href="/admin">
                <i class="fas fa-users"></i>
                Admins
            </a>
        </li>
        <li>
            <a href="/admin/register">
                <i class="fas fa-user-plus"></i>
                Register Admin
            </a>
        </li>
        <li>
            <a href="/admin/send_email">
                <i class="fas fa-envelope"></i>
                Send Email
            </a>
        </li>
        <li>
            <a href="/admin/send_sms">
                <i class="fas fa-sms"></i>
                Send SMS
            </a>
        </li>
        <li>
            <a href="/admin/billing">
                <i class="fas fa-money-bill"></i>
                Charge Accounts
            </a>
        </li>
    </ul>
    </div>