<header class="header-desktop">
    <div class="section__content section__content--p30">
        <div class="container-fluid">
            <div class="header-wrap">
                <ul style="list-style: none; display: flex; justify-content: space-around; width: 100% !important; align-items: center;">
                    <li>
                        <i class="fas fa-home"></i>
                        <a href="/">Home</a>
                    </li>
                    <li>
                        <i class="fas fa-users"></i>
                        <a href="/accounts">Accounts</a>
                    </li>
                    <li>
                        <i class="fas fa-user-plus"></i>
                        <a href="/register/account">New Account</a>
                    </li>
                    <li>
                        <i class="fas fa-techometer-alt"></i>
                        <a href="/admin">Admin</a>
                    </li>
                    <li>
                        
                        <a class="btn btn-primary" href="/">
                            <i class="fas fa-arrow-right"></i>
                            Logout</a>
                    </li>
                </ul>
            </div>
    </div>
</header>