
 <header>
    <div>
        <u>
            <li><a href="/">
                <i class="fas fa-home"></i>
                Home
            </a></li>
            <li><a href="/accounts">
                <i class="fas fa-users"></i>
                Accounts
            </a></li>
            <li><a href="/register/account">
                <i class="fas fa-user-plus"></i>
                New Account
            </a></li>
            <li><a href="/admin">
                <i class="fas fa-shield-alt"></i>
                Admin
            </a></li>
            <!-- <li><a href="/settings">
                <i class="fas fa-cogs"></i>
                Settings
            </a></li> -->

            <li>
                <form action="/admin/login/logout" method="POST">
                    <button class="btn" type="submit" style="background-color: brown; color: #fff;">
                        <i class="fas fa-sign-in-alt"></i>
                        Logout
                    </button>
                </form>
            </li>
        </ul>
        
    </div>
</header>