
<div class="sidebar">
<ul>
    <li>
        <a href="/">
            <i class="fas fa-chart-line"></i>
            Dashboard
        </a>
    </li>
    <li>
        <a href="/deposit">
            <i class="fas fa-piggy-bank"></i>
            Deposit
        </a>
    </li>
    <li>
        <a href="/withdraw">
            <i class="fas fa-money-bill"></i>
            Withdraw
        </a>
    </li>
    <li>
        <a href="/transfer">
            <i class="fas fa-exchange-alt"></i>
            Transfer
        </a>
    </li>
</ul>
</div>
