<main>
    <%- include("./sidebar") %>

    <div class="content">
        <div class="greet">
        </div>
        <div class="deposit">
            <h3 class="text-white mt-3 text-center">TRANSFER</h3>
            <div class="twin-block">

        <form class="stage-form form mx-auto" action="/transfer" method="POST">
            <div>
                <%- include ("./partials/messages") %>
            </div>
            <div>
                <%- include ("./partials/success_msg") %>
            </div>
            <br>
            <div class="p-4 bg-dark text-white text-center" style="text-transform: uppercase;">
                <div id="result1">
                    
                </div>
            </div>

        <div class="input-group">
            <label htmlFor="account_number">Transfer Account Number:</label>
            <input type="number" name="account_number" id="account_number1"/>
        </div>

        <div class="p-4 bg-dark text-white text-center" style="text-transform: uppercase;">
            <div id="result2">

            </div>
        </div>

        <div class="input-group">
            <label htmlFor="account_number">Receiver Account Number:</label>
            <input type="number" name="account_number2" id="account_number2"/>
        </div>

        <div class="input-group">
            <label htmlFor="amount">Amount:</label>
            <input type="number" name="amount" id="amount"/>
        </div>

        <button class="btn btn-primary" type="submit">
            <i class="fas"></i>
            Transfer
        </button>
    </form>
    <Result/>
    </div>
    </div>
    </div>
</main>

<script>
    const acc = document.querySelector("#account_number1");
    const acc2 = document.querySelector("#account_number2");
    const result1 = document.querySelector("#result1");
    const result2 = document.querySelector("#result2");

   // get accounts
   (async function getAccounts(){
       const xhr = new XMLHttpRequest();

       xhr.open('GET', '/api/getAccounts');

       xhr.send();

       xhr.onload = async () => {
           if(xhr.status != 200){
               getAccounts();
           }
           else{
               const accounts = await JSON.parse(xhr.response);
               acc.addEventListener("input", e => {
               accounts.forEach(e => {
                   if(e.account_number == acc.value){
                    result1.innerHTML = `
                        <div class="row">
                            <div class="col-md-6">Account Name: ${e.account_name}</div>
                            <div class="col-md-6">Available Balance: ${e.account_balance}</div>
                            <div class="col-md-6">Last Transaction: ${e.last_transaction ? (e.last_transaction.transaction_type + "(" + e.last_transaction.amount + ")") : "None" } </div>
                        </div`
                   }else{
                    result1.innerHTML = ``;
                   }
               }) 
           });

           acc2.addEventListener("input", e => {
               accounts.forEach(e => {
                   if(e.account_number == acc2.value){
                    result2.innerHTML = `
                        <div class="row">
                            <div class="col-md-6">Account Name: ${e.account_name}</div>
                            <div class="col-md-6">Available Balance: ${e.account_balance}</div>
                            <div class="col-md-6">Last Transaction: ${e.last_transaction ? (e.last_transaction.transaction_type + "(" + e.last_transaction.amount + ")") : "None" } </div>
                        </div`;
                   }else{
                    result2.innerHTML = ``;
                   }
               })

           });



           }
       }
   })()
</script>