<div class="container mt-5">
    <div class="container bg-dark p-4">
        <div class="container">
            <h2 class="mt-4 text-center text-white">Success</h2>
            <hr>
            <div  class="text-white text-center">
                <h3 style="font-size: 1.4em;"> Account Successfully Registered<h3>
                <br>
                <p style="font-size: .7em;color: rgb(228, 71, 23);">Account Number: <%= typeof account_number == 'undefined' ? "": account_number %>
                Account ID: <%= typeof user_id == 'undefined' ? "": user_id %>
                Account PIN: <%= typeof pin == 'undefined' ? "": pin %>
                <hr>
            </div>
        </div>
    </div>
</div>